[Unit]
Description=Timeshift Snapshots
Documentation=man:timeshift(1)

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/timeshift --check --scripted

