[credential]
	helper = store
[init]
	defaultBranch = main
[user]
	email = ghstkayc@gmail.com
	name = kayc
[credential]
    helper = store
[init]
    defaultBranch = main
[user]
    email = ghstkayc@gmail.com
    name = kayc
[color]
	ui = true
[alias]
    ac = "!git add -A && git commit -m"
    alias = "config --global --get-regexp ^alias\\."
    cloner = "!f(){ git clone https://github.com/$1/$2.git $3; }; f"
    pom = "push -u origin main"
    rao = "!f(){ git remote add origin https://github.com/kayceem/$1.git; }; f"
    rhh = "reset --hard HEAD"
    size = "count-objects -v"
    st = "status"
    cm = "commit -m"
    co = "switch"
    bb = "!gitbranch.sh"
[core]
	pager = diff-so-fancy | less --tabs=4 -RF
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	stripLeadingSymbols = false
