[credential]
	helper = store
[init]
	defaultBranch = main
[user]
	email = ghstkayc@gmail.com
	name = kayc
[credential]
    helper = store
[init]
    defaultBranch = main
[user]
    email = ghstkayc@gmail.com
    name = kayc
[color]
    ui = true
[alias]
    ac = "!git add -A && git commit -m"
    alias = "config --global --get-regexp ^alias\\."
    cloner = "!f(){ git clone https://github.com/$1/$2.git $3; }; f"
    pom = "push -u origin main"
    rao = "!f(){ git remote add origin https://github.com/kayceem/$1.git; }; f"
    rhh = "reset --hard HEAD"
    size = "count-objects -v"
    st = "status"
    cm = "commit -m"
    co = "checkout"
