* {
    main-bg:            #201C3EB3;
    main-fg:            #D2CCFFE6;
    main-br:            #C4288BE6;
    main-ex:            #6A2072E6;
    select-bg:          #F0B0AA80;
    select-fg:          #522C29E6;
}
