(
    config_name: "aura_1866.ron",
    brightness: Med,
    current_mode: Static,
    builtins: {
        Static: (
            mode: Static,
            zone: None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
        Breathe: (
            mode: Breathe,
            zone: None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
        RainbowCycle: (
            mode: RainbowCycle,
            zone: None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
        RainbowWave: (
            mode: RainbowWave,
            zone: None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
        Pulse: (
            mode: Pulse,
            zone: None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
    },
    multizone: Some({
        Static: [
            (
                mode: Static,
                zone: Key1,
                colour1: (r: 255, g: 0, b: 0),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Static,
                zone: Key2,
                colour1: (r: 155, g: 38, b: 182),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Static,
                zone: Key3,
                colour1: (r: 0, g: 0, b: 255),
                colour2: (r: 255, g: 239, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Static,
                zone: Key4,
                colour1: (r: 0, g: 124, b: 128),
                colour2: (r: 0, g: 255, b: 0),
                speed: Med,
                direction: Left,
            ),
        ],
        Breathe: [
            (
                mode: Breathe,
                zone: Key1,
                colour1: (r: 255, g: 0, b: 0),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Breathe,
                zone: Key2,
                colour1: (r: 155, g: 38, b: 182),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Breathe,
                zone: Key3,
                colour1: (r: 0, g: 0, b: 255),
                colour2: (r: 255, g: 239, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Breathe,
                zone: Key4,
                colour1: (r: 0, g: 124, b: 128),
                colour2: (r: 0, g: 255, b: 0),
                speed: Med,
                direction: Left,
            ),
        ],
        RainbowCycle: [
            (
                mode: RainbowCycle,
                zone: Key1,
                colour1: (r: 255, g: 0, b: 0),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: RainbowCycle,
                zone: Key2,
                colour1: (r: 155, g: 38, b: 182),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: RainbowCycle,
                zone: Key3,
                colour1: (r: 0, g: 0, b: 255),
                colour2: (r: 255, g: 239, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: RainbowCycle,
                zone: Key4,
                colour1: (r: 0, g: 124, b: 128),
                colour2: (r: 0, g: 255, b: 0),
                speed: Med,
                direction: Left,
            ),
        ],
        RainbowWave: [
            (
                mode: RainbowWave,
                zone: Key1,
                colour1: (r: 255, g: 0, b: 0),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: RainbowWave,
                zone: Key2,
                colour1: (r: 155, g: 38, b: 182),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: RainbowWave,
                zone: Key3,
                colour1: (r: 0, g: 0, b: 255),
                colour2: (r: 255, g: 239, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: RainbowWave,
                zone: Key4,
                colour1: (r: 0, g: 124, b: 128),
                colour2: (r: 0, g: 255, b: 0),
                speed: Med,
                direction: Left,
            ),
        ],
        Pulse: [
            (
                mode: Pulse,
                zone: Key1,
                colour1: (r: 255, g: 0, b: 0),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Pulse,
                zone: Key2,
                colour1: (r: 155, g: 38, b: 182),
                colour2: (r: 255, g: 164, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Pulse,
                zone: Key3,
                colour1: (r: 0, g: 0, b: 255),
                colour2: (r: 255, g: 239, b: 0),
                speed: Med,
                direction: Left,
            ),
            (
                mode: Pulse,
                zone: Key4,
                colour1: (r: 0, g: 124, b: 128),
                colour2: (r: 0, g: 255, b: 0),
                speed: Med,
                direction: Left,
            ),
        ],
    }),
    multizone_on: false,
    enabled: (
        states: [
            (
                zone: KeyboardAndLightbar,
                boot: true,
                awake: true,
                sleep: true,
                shutdown: true,
            ),
        ],
    ),
)