(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (2, 22, 45, 61, 81, 96, 99, 255),
                temp: (50, 54, 58, 62, 66, 70, 77, 98),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (2, 12, 35, 51, 79, 102, 104, 255),
                temp: (50, 54, 58, 62, 66, 70, 77, 98),
                enabled: false,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (5, 10, 20, 25, 50, 200, 225, 255),
                temp: (40, 45, 50, 60, 65, 70, 80, 90),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (5, 10, 20, 25, 50, 200, 225, 255),
                temp: (40, 45, 50, 60, 65, 70, 80, 90),
                enabled: true,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (2, 17, 33, 45, 71, 86, 86, 255),
                temp: (64, 66, 70, 74, 78, 79, 79, 98),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (2, 7, 30, 35, 58, 79, 79, 255),
                temp: (64, 66, 70, 74, 78, 79, 79, 98),
                enabled: false,
            ),
        ],
    ),
)